<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./addSecret.css">
    <link rel="icon" href="./iconSecret.png" >
    <title>Write Secret</title>
</head>
<body>
    <form action="/addSecret" method="POST">
        <div class="TOP">
            <h1>Write your secret</h1>
        </div>
        <div class="inputs">
            <div class="Input">
                <label for="title">Title</label>
                <input name="title" type="text" />
            </div>
            
            <div class="Input">
                <label for="content">Secret:</label>
                <textarea name="content" required maxlength="500"></textarea>
            </div>
        </div>

        <button>Share Your Secret</button>
      </form>
</body>
</html>