<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whisper Room</title>
</head>
<body>
    <h1>Whisper Room</h1>
    <button onclick="location.href='/sign-up'">Sign up</button>
    <button onclick="location.href='/log-in'">Login</button>
</body>
</html>