<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Whisper Room</title>
</head>
<body>
    <div class="TOP">
        <h1 class="title">Whisper Room</h1>
        <% if (locals.user) {%>
            <div class="loged">
                <h2>Welcome back <span class="username"><%= user.username %></span></h2>
                <button onclick="location.href='/log-out'">Logout</button>
            </div>
        <% }else{%>
            <div class="buttons">
                <button onclick="location.href='/sign-up'">Sign up</button>
                <button onclick="location.href='/log-in'">Login</button>
            </div>
            
        <% }%>
    </div>
    
</body>
</html>