<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./sign-up.css">
    <link rel="icon" href="./iconSecret.png" >
    <title>Login</title>
</head>
<body>
    <form action="/log-in" method="POST">
        <div class="TOP">
            <h1>Login</h1>
            <p href="">New member? <a href="/sign-up">Sign Up</a></p>
        </div>
        <div class="inputs">
            
            <div class="Input">
                <label for="usernameEmail">Username or Email</label>
                <input id="usernameEmail" name="usernameEmail" type="text" />
            </div>
            
            <div class="Input">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" />
            </div>
        </div>

        <button>Login</button>
      </form>
</body>
</html>