<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./sign-up.css">
    <link rel="icon" href="./iconSecret.png" >
    <title></title>
</head>
<body>
    <form action="/secretCode" method="POST">
        <div class="TOP">
            <h1>Secret Code</h1>
        </div>
        <div class="inputs">
            <div class="Input">
                <label for="code">Password</label>
                <input id="code" name="code" type="password" />
            </div>
        </div>
        <button>Submit</button>
      </form>
</body>
</html>