@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
:root{
    --backgroundColor: #222831;
    --textColor: #EEEEEE;
    --specialColor: #76ABAE;
}
.mySecrets{
    position: sticky;
    top: 0;
    padding: 15px;
    display: flex;
    width: 166px;
    text-align: center;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.delete{
    background-color: rgb(255, 126, 126);
    border-radius: 5px;
    outline: 0;
    border: 2px solid rgb(206, 54, 54);
    padding: 5px 5px;
}
.delete:hover{
    background-color: rgb(250, 76, 76);
}
.mySecrets h1{
    font-size: 2.125rem;
}
.mySecrets button{
    width: 100%;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 5px 20px;
    font-size: 25px;
    background-color: var(--specialColor);
    color: var(--textColor);
    border-radius: 5px;
    border: 2px solid var(--textColor);
}
.mySecrets button:hover{
    cursor: pointer;
    background-color: var(--textColor);
    color: var(--specialColor);
    border: 2px solid var(--textColor);
}
.secret h4{
    margin: 0;
}
.username{
    color: var(--specialColor);
}
body{
    margin: 0;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.TOP{
    position: sticky;
    padding: 10px;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.TOP .title{
    margin: 0;
    font-size: 35px;
}
/* Secrets  */* 
.secrets{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.secrets .content{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 75px;
    width: 50%;
}
.secret .top h2{
    font-size: 25px;
    margin: 0;
}
.secret .top h3{
    font-size: 20px;
    margin: 0;
    color: var(--backgroundColor);
}
.secret{
    width: 100%;
    padding: 25px;
    border-radius: 25px;
    background-color: var(--specialColor);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
}